@font-face {
    font-family: MagnetTrial;
    src: url(assets/fonts/MagnetTrial-Regular.ttf);
}
@font-face {
    font-family: MagnetTrial_bold;
    src: url(assets/fonts/MagnetTrial-Bold.ttf);
}

/** {
  outline: 1px solid green !important;
}
*/

::placeholder {
  color:    #31363b;
}


.text-field__input {
    display: flex;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: MagnetTrial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #102030c7;
    background-clip: padding-box;
    border: 1px solid #bdbdbde0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}




.button_games{
    display: flex;
    height: 55px;
    justify-content: center;
    background-color: transparent;
    font-family: MagnetTrial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    border: 1;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  button img{
    align-self: center;
    margin-right: auto;
    margin-left: 10px;
    height: 36px;
    width: 36px;
    border: 0.5px white;
    border-radius: 100px;
    border-color: white;
    box-shadow: 0 0 7px #666;

  }
  
  button span{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }






.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px;
    border-color: white;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f1a24;
    padding: 1rem 1.5rem;
    width: 90%; /* 24rem */
    border-radius: 0.5rem;
}
.close-button {
    color: white;
    font-size: 30px;
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: transparent;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger{
  display: flex;
  height: 55px;
  justify-content: center;
  background-color: transparent;
  font-family: MagnetTrial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  border: 1;
  border-radius: 10px;
  border-width: 1px;
  border-color: white;
  margin-bottom: 5px;
  text-transform: capitalize;
}
button img{
  align-self: center;
  margin-right: auto;
  margin-left: 10px;
  height: 36px;
  width: 36px;
  border: 0.5px white;
  border-radius: 100px;
  border-color: white;
  box-shadow: 0 0 7px #666;

}

button span{
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}



.active-inactive_button{
  display: block;
  height: 30px;
  justify-content: center;
  background-color: transparent;
  font-family: MagnetTrial;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  border: 1;
  border-radius: 7px;
  border-width: 1px;
  border-color: white;
  margin-bottom: 5px;
}



















/* Карточка товара */

.card {
  width: 159px;
  height: 159px;
  min-height: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 50px;
  transition: 0.2s;
  position: relative;
  border-color: white;
  border: 1;
  border-width: 1px;

}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
  border-radius: 50px;
  border-color: white;
}



/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: px; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}

/* Карточка товара */

/* сетка товара */

.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 5px; /* Отступ между колонками */
  row-gap: 100px; /* Отступ между рядами */
  margin: 0 auto;
}

/* сетка товара */











