@font-face {
    font-family: MagnetTrial;
    src: url(assets/fonts/MagnetTrial-Regular.ttf);
}
@font-face {
    font-family: MagnetTrial_bold;
    src: url(assets/fonts/MagnetTrial-Bold.ttf);
}


::placeholder {
  color:    #31363b;
}


.text-field__input {
    display: flex;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: MagnetTrial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #102030c7;
    background-clip: padding-box;
    border: 1px solid #bdbdbde0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}




button{
    display: flex;
    height: 55px;
    justify-content: center;
    background-color: transparent;
    font-family: MagnetTrial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    border: 1;
    border-radius: 10px;
    border-width: 1px;
    border-color: white;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  button img{
    align-self: center;
    margin-right: auto;
    margin-left: 10px;
    height: 36px;
    width: 36px;
    border: 0.5px white;
    border-radius: 100px;
    border-color: white;
    box-shadow: 0 0 7px #666;

  }
  
  button span{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }



